.table-view {
    height: 100%;
    position: relative;
}
.table-view-container {
    overflow-y: scroll;
    width: 100%;
    position: relative;
    background-color: #1D1E22;
}

.table-view-container-row {
    border-bottom: rgb(196, 196, 199) 1px solid;
    color: aliceblue;
    width: 100%;
}

.table-view-container-row-cell {
    min-width: 85px;
    max-height: 25px;
    text-align: center;
    padding: 0 8px;
    border: 1px solid rgb(56, 54, 54);
}

.table-view-container-row-cell.content {
    background-color: rgb(85, 85, 85);
    
}