.key-value-table {
    font-family: "Segoe UI" ,Arial,sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .key-value-table-cell, .key-value-table-header {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .key-value-table-row:nth-child(even) {
    background-color: #dddddd;
  }
